[submodule "repos/gruvbox.nvim"]
	path = repos/gruvbox.nvim
	url = https://github.com/ellisonleao/gruvbox.nvim.git 
	branch = main
[submodule "repos/nvim-colorizer.lua"]
	path = repos/nvim-colorizer.lua
	url = https://github.com/NvChad/nvim-colorizer.lua.git
[submodule "repos/nvim-lspconfig"]
	path = repos/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig.git 
[submodule "repos/smart-splits.nvim"]
	path = repos/smart-splits.nvim
	url = https://github.com/mrjones2014/smart-splits.nvim.git
[submodule "repos/vimwiki"]
	path = repos/vimwiki
	url = https://github.com/vimwiki/vimwiki.git
	branch = master
[submodule "repos/lualine.nvim"]
	path = repos/lualine.nvim
	url = https://github.com/nvim-lualine/lualine.nvim.git
