[submodule "repos/gruvbox.nvim"]
	path = nvim-plugs/gruvbox.nvim
	url = https://github.com/ellisonleao/gruvbox.nvim.git 
	branch = main
[submodule "repos/nvim-colorizer.lua"]
	path = nvim-plugs/nvim-colorizer.lua
	url = https://github.com/NvChad/nvim-colorizer.lua.git
[submodule "repos/nvim-lspconfig"]
	path = nvim-plugs/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig.git 
[submodule "repos/smart-splits.nvim"]
	path = nvim-plugs/smart-splits.nvim
	url = https://github.com/mrjones2014/smart-splits.nvim.git
[submodule "repos/lualine.nvim"]
	path = nvim-plugs/lualine.nvim
	url = https://github.com/nvim-lualine/lualine.nvim.git
