Xft.dpi: 100
urxvt*font: xft:Iosevka Term:size=16
urxvt*scrollBar: false
urxvt*cursorBlink: 1

! zooming
URxvt.perl-ext-common:  font-size
URxvt.keysym.C-minus:   font-size:decrease
URxvt.keysym.C-plus:    font-size:increase
URxvt.keysym.C-equal:   font-size:reset

! disable ctrl+shift binding
URxvt.iso14755: false
URxvt.iso14755_52: false

! fixes ctrl+arrows issues
urxvt.keysym.C-Up:     \033[1;5A
urxvt.keysym.C-Down:   \033[1;5B
urxvt.keysym.C-Left:   \033[1;5D
urxvt.keysym.C-Right:  \033[1;5C

Xcursor.size: 32
Xcursor.theme: pix_black

!================
! Theme: srcery 
!================

! special
urxvt*foreground:   #fce8c3
urxvt*background:   #1c1b19
urxvt*cursorColor:  #fce8c3

! black
urxvt*color0:       #1c1b19
urxvt*color8:       #918175

! red
urxvt*color1:       #ef2f27
urxvt*color9:       #f75341

! green
urxvt*color2:       #519f50
urxvt*color10:      #98bc37

! yellow
urxvt*color3:       #fbb829
urxvt*color11:      #fed06e

! blue
urxvt*color4:       #2c78bf
urxvt*color12:      #68a8e4

! magenta
urxvt*color5:       #e02c6d
urxvt*color13:      #ff5c8f

! cyan
urxvt*color6:       #0aaeb3
urxvt*color14:      #2be4d0

! white
urxvt*color7:       #baa67f
urxvt*color15:      #fce8c3
