Xft.dpi: 100
urxvt*font: xft:Iosevka Term:size=16
urxvt*scrollBar: false
urxvt*cursorBlink: 1

! zooming
URxvt.perl-ext-common:  font-size
URxvt.keysym.C-minus:   font-size:decrease
URxvt.keysym.C-equal:   font-size:increase
URxvt.keysym.C-0:       font-size:reset

! disable ctrl+shift binding
URxvt.iso14755: false
URxvt.iso14755_52: false

! fixes ctrl+arrows issues
urxvt.keysym.C-Up:     \033[1;5A
urxvt.keysym.C-Down:   \033[1;5B
urxvt.keysym.C-Left:   \033[1;5D
urxvt.keysym.C-Right:  \033[1;5C

Xcursor.size: 32
Xcursor.theme: PearWhiteCursors

#include "dotfiles/urxvt/github.Xresources"
